@import url('common.css');

header {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    padding:80px 0;
}

header > div {
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header > div div > a {
    color:#fff;
    position:relative;
    display:inline-block;
}
header > div div > a:after {
    content:'';
    position:absolute;
    right:-10px; top:50%;
    transform: translateY(-30%);
    
    width:0;height:0;
    border:3px solid transparent;
    border-top:5px solid #fff;
}
header > div div{
    position:relative;
}
header > div div ul {
    display:none;
    position:absolute;
    background:#fff;
    padding:0 10px 10px 10px;    
}

header > div div ul li a {
    font-size:.6em;
    display:inline-block;
    padding:8px 0 0 0;
}
header > div div ul li a:hover {
    text-decoration:underline;
}
header > div div:hover ul{display:block;}

.menu-triger{
    width:26px;
    height:16px;
    position: relative;
}
.menu-triger span{
    position:absolute;
    left: 0; 
    background:#fff;
    width:100%; height:2px;
}
.menu-triger span:nth-of-type(2){
    top:50%; transform:translateY(-50%);
}
.menu-triger span:nth-of-type(3){
    bottom:0;
}

main{
    margin-bottom:242px;
}

main div div:after{
    content:'';
    clear:both;
}
main div div figure > strong{
    color:#dbdeb5;
    font-family:'Gothic A1', sans-serif;
    font-size:82.5px;
    position:absolute;
    top:40%; left:50%;
    transform:translate(-50%,-50%)
}
main div div figure > a{
    width:267px; height:80px;
    margin:0 auto;
    
    font-family:'Gothic A1', sans-serif;
    color:#fff;
    font-size:20px;
    font-weight:bold;
    display:flex; 
    flex-direction:column;
    justify-content:center; 
    align-items: center;
    
    position:absolute;
    left:50%; top:55%;
    transform:translate(-50%,-50%);
    border:1px solid #fff;
    

    background:url('../img/icon_n.png') 75% no-repeat;
    text-indent:-35px;
}

header div div figure img{width:100%;}

main div div figure p{
    position:absolute;
    left:50%; top:85%;
}


.a_l{
    position:absolute;
    left:20%; top:40%;
    transform:translate(-20%,-40%);
        text-align:center;
}
.a_l p{
    font-family:'Gothic A1', sans-serif;
    transform:rotate(90deg);
    font-size:59px;
    color:#dbdeb5;
}

.a_r{
    display:inline-block;
    transform:rotate(90deg) translateY(-100%);
    position:absolute;
    right:5%; top:80%;}

.a_r a{  
    font-family:'Gothic A1', sans-serif;
    font-size:16px;
    font-weight:bold;
    color:rgba(255, 255, 255, 0.6);

    text-align:center;
}

/**/

.M_1 ul{    
    width:80%;
    margin:0 50% 0 151px;

}
.M_1 ul li{
    overflow:hidden;
    }
.M_1 ul li > a{}
.M_1 ul li a img{
    width:50%;
    float:left;
}
.M_1 ul li article{
    width:50%;
    text-align:right;
    padding:100px 200px 109px 128px;
    margin:0 auto;
    float:right;
}
.M_1 ul li article h2{
    text-align:right;
    margin-bottom:45px;
}
.M_1 ul li h2:before{ 
           content:'';
           width:15%; height:2px;
           background:#000;
           display:inline-block;
           vertical-align:middle;
}
.M_1 ul li article p{
        margin-bottom:63px;
}
.M_1 ul li article small{}
.M_1 ul li article small a{
    border-bottom:1px solid#000;
}

/**/


.M_2 ul{    
    width:80%;
    margin:0 50% 109px 151px;
}
.M_2 ul li{overflow:hidden;}
.M_2 ul li > a{}
.M_2 ul li a > img{   
    width:50%;
    float:right;
}
.M_2 ul li article{
    width:50%;
    text-align:right;
    padding:166px 100px 109px; 128px;
    float:left;
}
.M_2 ul li article h2{
    text-align:left;
    margin-bottom:70px;
}
.M_2 ul li h2:before{ 
           content:'';
           width:15%; height:2px;
           background:#000;
           display:inline-block;
           vertical-align:middle;
}
.M_2 ul li article p{
        text-align:left;
        margin-bottom:63px;
}
.M_2 ul li article small{}
.M_2 ul li article small a{
    border-bottom:1px solid#000;
    text-align:left;
}

/**/


.service{
    width:100%;
    text-align:center;
    margin-bottom:315px;
    margin-top:295px;
    overflow:hidden;    
}
.service h1{
    text-align:center;
    font-size:60px;
    color:#000;
    font-weight:bold;
    margin:0 auto;
    }

.service h1:after{
    content:'';
    display:block;
    margin:0 auto;
    text-align:center;
    width:3%;
    border-bottom:3px solid #000;
    padding-bottom:45px;
}
.service > p{
    width:100%;
    margin:0 auto;
    padding-top:55px;
    padding-bottom:101px;
    text-align:center;
    white-space:pre-line;
}
.service ul{}

.service ul li{
    width:30%;
    margin:30px 0% 0px 0;
    padding:0 auto;
    text-align:center;
    
    display:inline-block;
    margin:0 auto;
}
.service ul li img{
    width:50%;
    border-radius:50%;
}
.service ul li p{
    margin-top:83px;
    text-align:center;
}

.service ul li > a:nth-of-type(3n){
            margin-right:0;
        }

/**/


footer{
    text-align:center;
    padding:25px 0;
    background:#404040;
    margin-top:100px;
}
footer p{color:#fff;}
