/*
 <!-- 백그라운드 이미지가 고정값일때 사용하는 방법-->
*/

.t_3{
    width:607px; height:607px;
    background:url('photo03.jpg')no-repeat;
    margin:0 auto;
    overflow: hidden; /*<첫번째 자식한테 마진을 사용했기때문에 히든을 사용해줌*/

}
.t_3 h1{
    border:1px solid:#f00;
    color:white;
    white-space: pre-line;
    margin:200px 0;
    text-align: center;
    
    font-family: 'Mistral';
    font-size:60px;
    font-weight: normal;
}

/*백그라운드 이미지가 변경될때 사용하는 방법*/

.t_3_2{
    width:607px; margin:0 auto;
    position:relative;
}
.t_3_2 h1{
    position:absolute;
    
    left:calc(50% - 76px); 
    top:calc(50% - 80px);
    
    color:#fff;
    white-space: pre-line;
}
.t_3_2 img{
    width:100%
}

.t_3_3{width:1400px; margin:100px auto;}
.t_3_3:after{
    content:'';
    clear:both;
    display:block;
}
.t_3_3 .t_3_2:nth-of-type(1){float:left;}
.t_3_3 .t_3_2:nth-of-type(2){float:right;}

.t_3_3 .t_3_2 h1{ /*마우스 올리기 전*/
    line-height:6;
    opacity:0;
    transition:.5s;/* 올라오면서 떠오르는 초수*/
}

.t_3_3 .t_3_2:hover h1{ /*마우스 올린 후*/
    line-height: 1;
    opacity: 1;
}



