@import url('../common.css');


.t_1_1{
    width:300px; height:300px;
    background:#fff;
    margin:15% auto;
    padding:40px;
    text-align: center;
}

.t_2{
    border:1px solid:#00f;
    width:700px;
    margin:0 auto;
/*    overflow:hidden;*/
}
.t_2:after{
    content:'';
    clear:both; /*float를 해지시키기위해*/
    display:block; /*인라인요소는 내용이 있어야 내용의 크기만큼 크기를 가질수잇지만 현재 내용이(콘텐츠에) 없기때문에 가로랑 세로사이즈를 잡을 수 없어서 블록으로 영역을 잡아 부모가 감쌀 수 있게 만들어줌*/
}
.t_2 .t_1_1:nth-of-type(1){
    float:left;
}
.t_2 .t_1_1:nth-of-type(2){
    float:right;
}
